@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--main-font-color);
}
body{
  background-color: var(--BG);
}
/* add global colors here */
:root {
  --BG: #F0F0F0;
  --PurpleText: #B981A9;
  --page-name:#B981A9;
  --Toggle: #E7F5FF;
  --main-font-color:black;
  --Toggle-ball:#FFAF96;
  --box-shadow:grey;
  --add-colors:#F0CCC2;
  --task-BG:#ffffff;
}
/* add dark mode alternatives here */
/* make sure to not leave any element with a default color */
.dark-mode{
  --page-name:#F8E0F1;
  --Toggle:#808AA4;
  --BG: #525252;
  --PurpleText: #B981A9;
  --main-font-color:white;
  --Toggle-ball:#A3A3A3;
  --box-shadow:#b981a9;
  --add-colors:#88574a;
  --task-BG:#5a5a5a;
}
.darkmode {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.lable1 {
    width: 3em;
    height: 1.5em;
    border-radius: 30px;
    background: var(--Toggle);
    border-style: solid;
    border-width: 0.5px;
    border-color:var(--Toggle-ball);
    position: absolute;
    cursor: pointer;

}
#checkbox {
    display: none;
}
#checkbox:checked~.ball {
    transform: translateX(1.5em);
}
.ball {
    width: 1.1em;
    height: 1.1em;
    background-color:var(--Toggle-ball);
    position: absolute;
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.page-name {
    padding-top: 30%;
    color: var(--page-name);
    font-weight: 1000;
}
.toggle {
    padding-left: 80%;
}
/* Start input bar Section Style */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin-top: rem;
    margin-right: .7rem;
}
.todo-input{
    height: 4rem;
    width: 18rem;
    border: 4px solid var(--PurpleText);
    background-color: var(--BG);
    border-right: none;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 8px 0 0 8px;
}
.todo-input:focus {
  outline: none;
}
.add-btn {
    color: white;
    background-color: var(--PurpleText);
}
.todo-button{
    background-color: var(--PurpleText) ;
    height: 4rem;
    width: 3.5rem;
    border: 4px solid #B981A9;
    border-left: none;
    border-radius: 0 8px 8px 0;
}
.todo-button:hover{
    font-size: 1.5rem;
    cursor: pointer;
}
input::placeholder {
    padding-left: 1rem;
    font-size: 1rem;
}
/* End Task Bar Section Style */


  .todo-container{
    display: flex ;
    align-items: center;
    justify-content: center;
}
.todo-container:hover{
  cursor: default;
}
.todo-lists{
    width : 100%;
    list-style: none;
    max-height: 25rem;
    overflow:auto;
}
.todo {
    border: none;
    background-color: var(--task-BG);
          box-shadow: 6px 6px 5px var(--box-shadow);
      border-radius: 10px;
    margin: 20px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.todo li {
    flex: 1;
}

.trash-btn , .complete-btn ,.update-btn {
    background-color: rgba(0, 0, 0, 0) ;
    border: none;
    padding: .8rem;
    cursor: pointer;
}

.trash-btn:hover , .complete-btn:hover{
    background-color: rgba(255, 250, 250, 0.5);
    font-size: 1rem;
}

.todo-item{
    padding: 0rem .5rem;
}
.fa-trash-alt , .fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: .5;
}